.section-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.at-column-box {
  display: flex;
  text-align: center;
  padding: 15px 0;
  @media (max-width: 1023px) {
    font-size: 0.75rem;
  }

  .root {
    flex: 1;
    margin: 0 5px;

    .title-box {
      padding: 10px 0;
      color: #484848;
    }

    .time-list {
      .time {

        padding: 3px 0;
        color: #b6b6b6;
        font-weight: 700;

        &.validTime {
          color: #02cab9;

        }
      }
    }
  }
}

.validDay {
  border: 4px solid #02cab9;
}

.invalidDay {
  border: 4px solid #d2d2d2;
}

.line {
  width: 112px;
  height: 47px;
  background-color: aqua;
  border-radius: 5px 0 0 5px;
}

.triangle-1 {
  border-color: transparent transparent transparent aqua;
  border-style: solid solid solid solid;
  border-width: 23px;
  /* 設定 width、height 可更好理解原理 */
  height: 0px;

  width: 0px;
}
